
    form {
            text-align: center;
            border: 5px ridge #84714f;
            background: #e3d888;
            display: block;
            width: 200px;
            margin: 0 auto; 
                    /*Reference: Daneesha. (2021, June 4). HTML How to center a Form. Stack Overflow. https://stackoverflow.com/questions/67832436/html-how-to-center-a-form#:~:text=4%20Answers&text=If%20you%20want%20to%20centre,0%20auto%20with%20a%20width.&text=if%20you%20want%20to%20centre%20inline,text%2Dalign:%20centre%20works. */
            height: 400px;

        }

        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            color:#31231E;
            background: #75544b;
        }



